.backdrop {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(16, 15, 15, 0.56);
    position: fixed;
}

.modal {
    width: 476px;

    background-color: #fffdfd;
    border-radius: 8px;
    padding: 56px;
    position: relative;
    text-align: center;
}

.modal img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}